= link_to "Conversations", course_discussions_path(:type => "conversation")
|
= link_to "Reviews", course_discussions_path(:type => "review")
|
= link_to "Evaluations", course_discussions_path(:type => "evaluation")

%br
%br

- @discussions.each do |r|
  %h3= r
