= @discussions.category_filters 

%br
%br

= link_to "New Discussion", new_course_discussion_path, 
          :class => ["discussion_list","new"]
= @discussions.state_filters

%br
%br

= @discussions.matched_discussions
