img.discussions
  float: left
  padding-right: 10px

h3.discussions
  padding-top: 5px
  margin-bottom: 10px
  
p.discussions.date
  float: right
  padding-top: 10px
  margin-bottom: 10px
  
a.discussions.new
  float: right
  
a.discussions.show
  text-decoration: none