%h1= @course.name

= render 'course_memberships/participants'

%h3 Add a new participant to this course

%p
  %em
    NOTE: In development, this requires you have fixtures in
    %strong test/fixtures/clubhouse/people
    for the people you are adding.

= render 'course_memberships/form'